{% extends "global/Base.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'bret/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Competition Round" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

   {% if treatment == 't1' %}
    <h1>This will display if Treatment 1 - Place Treatment information here.</h1>
   {% elif treatment == 't2' %} 
   <h1>This will display if Treatment 2 - Place Treatment information here.</h1>
   {% elif treatment == 't3' %} 
   <h1>This will display if Treatment 3 - Place Treatment information here.</h1>
   {% elif treatment == 'Control' %}
   <h1>This will display if Control Group - Place Treatment information here.</h1>
   {% endif %}
        <p>
            For the next round, you will compete with another participant of the opposite gender. Only the person with the highest payoff
            will receive the corresponding payment.
        </p>
        <br/>
    {% next_button %}
{% endblock %}
