{% extends "global/Base.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'bret/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Second Section Instructions" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}
    <div class="instructions">
        {% if treatment == 't1' %}
            <p>
                In this next and ﬁnal section, you will play one more round of the exact same task as before, but you will be competing against another participant from Amazon Turk. 
            </p>
            <ul>
                <li>
                    The participant with the highest number of points will win this round. 
                </li>
                <li>
                    At the end of the experiment we will randomly select 10% of all winners (including yourself) to be paid out their points in dollars, such that 1 point equals $0.01.
                </li>
                <li>
                    If you lose, only your first round will be eligible to be randomly selected for payment.        
                </li>
            </ul>

            <h5>
                You have been matched with someone of the opposite gender from yourself. Your payoﬀ in this round is dependent on their performance. Only the person who gets the highest number of points wins.
            </h5>
        {% elif treatment == 't2' %} 
            <p>
                In this next and final section, you will play one more round of the exact same task as before, but you will be competing against another participant from Amazon Turk. 
            </p>
            <ul>
                <li>
                    The participant with the highest number of points will win this round. 
                </li>
                <li>
                    At the end of the experiment we will randomly select 10% of all winners (including yourself) to be paid out their points in dollars, such that 1 point equals $0.01.
                </li>
                <li>
                    If you lose, only your first round will be eligible to be randomly selected for payment.        
                </li>
            </ul>

            <h5>
                You have been matched with someone of the same gender as yourself. Your payoﬀ in this round is dependent on their performance. Only the person who gets the highest number of points wins.
            </h5>
        {% elif treatment == 't3' %} 
        

            <p>
                In this next and final section, you will play one more round of the exact same task as before, but you will be competing against another five other participants from Amazon Turk. 
            </p>
            <ul>
                <li>
                    The participant with the highest number of points will win this round. 
                </li>
                <li>
                    At the end of the experiment we will randomly select 10% of all winners (including yourself) to be paid out their points in dollars, such that 1 point equals $0.01.
                </li>
                <li>
                    If you lose, only your first round will be eligible to be randomly selected for payment.        
                </li>
            </ul>

            <h5>
                You have been matched with your 5 opponents. Your payoff in this round is dependent on the performance of all other opponents. Only the person who gets the highest number of points wins.
            </h5>
        {% elif treatment == 'control' %}
            <p>
                In this next and final section, you will play one more round of the exact same task as before, but you will be competing against another participant from Amazon Turk. 
            </p>
            <ul>
                <li>
                    The participant with the highest number of points will win this round. 
                </li>
                <li>
                    At the end of the experiment we will randomly select 10% of all winners (including yourself) to be paid out their points in dollars, such that 1 point equals $0.01.
                </li>
                <li>
                    If you lose, only your first round will be eligible to be randomly selected for payment.        
                </li>
            </ul>

            <h5>
                You have been matched with another participant. Your payoff in this round is dependent on their performance. Only the person who gets the highest number of points wins.
            </h5>
        {% endif %}
    </div>
    <br/>
    {% next_button %}
{% endblock %}
