{% extends "global/Base.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'bret/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "First Section Instructions - Please Read Carefully" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="instructions">
        <p>
            There will be two rounds. Before the first round there is a practice round that will not be paid. The second round will be recorded and potentially paid as a bonus payment. 
        </p>
        <p>
            In each round there are two stages:
        </p>
        <ul style="list-style-type: none;">
            <li>
                Stage 1: You begin collecting boxes by pressing ’Start’ and stop the collection process by hitting ’Stop’. Boxes are collected randomly. Once collected, boxes are marked with a check-mark.
            </li>
            <li>
                Stage 2: You submit your collected boxes and finish the round. To submit your collected boxes and move to the next round, hit ’Next’.
            </li>
        </ul>
        <p>Your results will be recorded and provided to you only once you have completed both sections of the experiment. </p>
        <h4>Types of Boxes</h4>
        <p>
            There are two types of boxes: bomb-boxes and point-boxes.
        </p>
        <ul>
            <li>
                There is one bomb-box hidden amongst the 100 boxes. All other boxes are point-boxes. Points are converted to payoffs at the rate of 1 point =$0.01.
            </li>
            <li>
                Each point-box you collect gives you 1 point. These points are potential and depend on whether you collect a bomb-box.
            </li>

            <li>
                <strong>If there is a bomb:</strong> If you collect the bomb-box, all your earnings for that round are destroyed and you receive nothing. 
            </li>
        
            <li>
                You do not know where the bomb is. You only know that the bomb can be in any place with equal likelihood.  You will not know if you collected a bomb in any round until the end of the experiment. 
            </li>
            <li>
                Each round is independent. If you collect a bomb in one round, it has no eﬀect on the earnings from previous or subsequent rounds. 
            </li>
        </ul>
        <br>
        <p> <strong> We now begin the game with a trial-round. The results from this trial-round will not be recorded, nor will they be eligible for the potential bonus payment. </strong></p>
    </div>


     {% next_button %}
{% endblock %}